<!--HEADER BEING-->
<header id="header-container">
    <div class="container">
        <div class="row Header-container-alignV">
            <div class="col-6 col-md-4">
                <h1 class="name-app">Adsi Store</h1>
            </div>
            <div class="col-6 text-right d-block d-sm-none">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarnav" aria-expanded="false" aria-label="Toggle navigation">
                    <fa-icon [icon]="faBars" class="faBars"></fa-icon>
                </button>
            </div>
            <div class="col-6 col-md-6 offset-md-2 text-right d-none d-sm-block">
                <a href="#" class="Login text-uppercase font-weight-bold">Login</a>
            </div>
        </div>
    </div>
</header>
<!--HEADER END-->

<!--BEING MENU-->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <!--NAVBAR APLICATION-->
        <div class="collapse navbar-collapse justify-content-sm-center text-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a href="#" class="nav-link" [routerLink]="['index']">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['catalogo']" class="nav-link">Catalogo</a>
                </li>
                <li class="nav-item disabled" routerLinkActive="active">
                    <a href="#" class="nav-link" tabindex="-1" aria-disabled="true">Carrito</a>
                </li>
            </ul>
        </div>
        <!--END NAVBAR APLICATION-->
        <div class="col-12 col-md-6 offset-md-2 d-none d-md-block">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="¿Encontro lo que buscaba?">
                    <span class="input-group-btn">
                        <button class="btn btn-adsi">
                            <fa-icon [icon]="faSearch"></fa-icon>
                            Buscar
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>
<!--BEING MENU-->

<!--BUTTOM OF HAMBURGER
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarnav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
-->