/*Vars*/
bottomSeacrh = #99c84a
bottomSearchHover = #8ab542
/*Styles Header Being*/
#header-container
    background-color: bottomSeacrh
    color #ffff
.Login
    color: #ffff 
.Header-container-alignV
    display flex
    align-items: center    //align elements verticalc align-items: flex-end  or start align items in bottom or top
.Header-container-alignV > div > h1
    margin-top: 0
    margin-bottom: 0
li.active a
    background-color: bottomSeacrh
    color: white !important
.navbar-nav > li > a
    color #363636
    margin .5em .5em
/*End Styles Header*/

/*Being style Menu*/
.btn-adsi
    background-color: bottomSeacrh
    color: #ffffff
.btn-adsi:hover
    background-color: bottomSearchHover
input.form-control:focus  // todos los input, al darle clic(focus) se desaabilite
    border-color: bottomSeacrh
    box-shadow: none // para que la sombre desaparezca
/*END style Menu */

/*BEING STYLES OF ICONS FONT AWESOME*/
.faBars
    color: #fff
    font-size: 25px
.navbar-toggler:focus,.navbar-toggler:active
    outline: none 
    box-shadow: none // para que la sombre desaparezca
   
/*END STYLES OF ICONS FONT AWESOME*/

/*MEDIAS QUERYS*/
@media (max-width:575px)
    .name-app 
        font-size: 1.7em
    .navbar
        padding: 0


